.active {
  color: green;
}

.NavigationBar {
  list-style-type: none;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.NavigationItem {
  float: left;
}

.NavigationItem a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.NavigationItem a:hover,
.NavigationItem a.active {
  background-color: #111;
}
